/* Fonts */
@font-face{
	font-family: 'Novecento-Book';
	src: url('Novecentosanswide-Book.otf');
}

@font-face{
	font-family: 'Novecento-Normal';
	src: url('Novecentosanswide-Normal.otf');
}

@font-face{
	font-family: 'Novecento-Medium';
	src: url('Novecentosanswide-Medium.otf');
}

/* Global font + settings*/
*{
	font-family: 'Novecento-Book', "Segoe UI", "Helvetica Neue";
	margin: 0px;
	padding: 0px;
	text-decoration:none;
}

/* Header */ 
header {
	position:absolute;
	top:0px;
	height:170px;
	width:100%;
	background-color:#fff;
}

#logo{
	background:url('math_webheader-1.png') no-repeat;
	background-size: 600px 100px;
	display:block;
	width:600px;
	height:100px;
	float:left;
	margin:15px 50px 15px 50px;
}

/* Navigation */ 
#navbar{
	position: absolute;
	top: 170px;
	height:40px;
	width: 100%;
	background-color:#999999;
}

#nav_tabs{
	float:left;
	margin-left:50px;
	padding-top:4px;
}

#nav_tabs a{
	padding-right:30px;
	color:#fff;
	text-decoration:none;
	font-size:23px;
}

#nav_tabs a:hover {
	color:#3B5998;
}

/* Main content */
.splash {
    position: absolute;
    height: 100%;  
    background:#3b3b3b;
    text-align:center;
    color:#FFF;
}

section {
	position: absolute;
	width: 100%;
	margin-bottom: 60px; /* for footer */
}



/* Footer */
footer {
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
	letter-spacing:1px;
	background-color:#999;
 	z-index: 10;
}

footer p {
	padding:10px 10px 50px 0px;
	float:right;
}

/* Link colors */
.link{
	color:#000;
}

.link:visited{
	color:#000;
}

.link:hover{
	color:#555;
}

a{
	color:#008BB0;
}

a:visited{
	color:#008BB0;
}

a:hover{
	color:#33b5e5;
}

.nobullet {
	list-style-type: none;
}
