<style>

	.contact {
		display: block;
	}
	
	#accordion li {
		list-style-type: none;
	}
	
	#accordion input.accordion[type="checkbox"] {
		display: none;
	}
	
	#accordion label {
		background: #3B5998;
		border-radius: .25em;
		cursor: pointer;
		display: block;
		margin-bottom: .125em;
		padding: .25em 1em;
		z-index: 20;
	}
	#accordion label:hover {
		background: #33b5e5;
	}

	#accordion input:checked + label {
		background: #33b5e5;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		color: white;
		margin-bottom: 0;
	}
	#accordion article {
		background: #f7f7f7;
		color: black;
		height: 0px;
		overflow: hidden;
		z-index: 10;
	}
	
	
	#accordion input:checked ~ article {
		border-bottom-left-radius: .25em;
		border-bottom-right-radius: .25em;
		height: auto;
		margin-bottom: .125em;
	}
	
</style>
