
@media (max-width: 699px) {
	.public-area-image-sigma {
		display:none;
	}
}

@media (min-width: 700px) {
	.public-area {
		max-width: 700px;
		height: 400px;
	}
	
	.public-area-image-sigma {
		max-width: 40%;
		float: left;
	}
	
	.public-area-image-banner {
		display:none;
	}
	
	.public-area-content {
		width: 60%;
		float: right;
	}
}

body {
	color: #002A5C;
}

.btn {
	background-color: #002A5C;
}

a {
	color: #002A5C;
}

.public-area {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
	
.public-area-content {
	padding: 5px;
}

.public-area-image-banner {
	padding: 5px;
}

.terms-scroll {
	overflow: scroll;
}